<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav class="categories">
    
    <br >
    <h1 class="title"><%= title %></h1> 
    <a href="/users/booze" >Booze Cruise</a>
    <a href="/users/bars" >Bars</a>
    <a href="/users/brunch" >Brunch</a>
    <ul class="nav">
      
        <li>
            <% if (user) { %>
            <a href="/logout">LOG OUT</a>
            <% } else { %>
            <a href="/auth/google">Login with Google</a>
            <% } %>
        </li>
        </ul>
  </nav>
  <main>
    
