<!DOCTYPE html>
<html>
  <head>
    <title class="HPT"><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="bg">
    <nav class=>
    <h1></h1>
    <p>Welcome to Bach Behavior  <% if (user) {%>, <%= user.name %>! <%} %></p>
    <ul class="right">
      <li>
      <% if (user) { %>
        <a href="/logout">Log Out</a>
      <% } else { %>
        <a href="/auth/google">Login with Google</a>
      <% } %>
    </nav>
    </body>
    </html>
