body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bg{
background-image: url('https://i.imgur.com/dQDqDgr.jpg');
height: 100vmin; 
  background-position: center;
  background-size: cover;
}