body {
  font-family: 'Oxygen', sans-serif;
  padding: 50px;
  
}

a {
  font-family: 'Oxygen', sans-serif;
  color:black;
}

.bg{
background-image: url('https://i.imgur.com/dQDqDgr.jpg');
height: 100vmin; 
  background-position: center;
  background-size: cover;
}
nav{
  display: flex;
 justify-content:space-around;
 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(255,255,130,0.5); 
  
}
.right{
  list-style-type: none;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.categories{
  display: flex;
  justify-content:space-around;
  padding: 20px;
  font-size: 20px;
}
.second{
  background-image: url('https://i.imgur.com/Sc9dsqx.jpg');
  height: 75vmin; 
  background-position: center;
  background-size: cover;
  background-color:rgb(255,255,130,0.8)
}
.brunch{
  background-image: url('https://i.imgur.com/PBVpAkE.jpg');
  height: 90vmin; 
  background-position: center;
  background-size: cover;

}
.booze{
  background-image: url('https://i.imgur.com/NU6tXXm.jpg');
  height: 75vmin; 
  background-position: center;
  background-size: cover;
}
.bars{
  background-image: url('https://i.imgur.com/iz32AZu.jpg');
  height:100vmin; 
  background-position: center;
  background-size: cover;
}