<%- include('../partials/headers') %>
<body class="second">
    <% if (user) { %>
  <section class=loginpage>
    <table id="first">
        <thead>
          <tr>
            <th>Date</th>
            <th>Location</th>
            <th>Event<br>Type</th>
            <th></th>
          </tr>
        </thead>
      <br>
        </table>
  </section>      
  <% } else { %>
  <section>
   
  </section>
  <% } %>
</body>
<%- include('../partials/footers') %>