<%- include('../partials/headers') %>
<body class="second">
    <% if (user) { %>
  <section class=loginpage>
    <table id="first">
       
        </table>
  </section>      
  <% } else { %>
  <section>
   
  </section>
  <% } %>
</body>
<%- include('../partials/footers') %>